:root {
	--lightsalmon: #FFF0EB;
	--white: #fff;
	--blue: blue;
	--pink: deeppink;
}
* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", sans-serif;
}
body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--lightsalmon);
}
p:last-child {
	margin-bottom: 0;
}
p,
section li,
img {
	max-width: 37.5em; /* 600px /16 */
}
p {
	line-height: 1.45;
}
a[href],
a[href]:visited {
	color: var(--blue);
}
a[href]:not(:hover) {
	text-decoration: none;
}
header,
main,
footer {
	padding: 1em;
}
main :first-child {
	margin-top: 0;
}

pre,
code {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	line-height: 1.5;
	color: var(--pink);
}
pre {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

/* Main Nav */
header nav ul :first-child {
	margin-left: 0;
}
header nav li {
	display: inline-block;
	margin: 0 0.5em;
}
header nav li a[href]:not(:hover) {
	text-decoration: none;
}
header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts */
section ol li {
	counter-increment: start-from -1;
	margin: 1em 0;
}
section ol li > * {
	margin-left: 0.8em;
}
section ol li::before {
	display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
}

/* Index link (back to) */
main nav {
	margin: 4em 0;
}

/* Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--blue);
  border-radius: 0.25em;
  text-decoration: none;
	margin-left: 0;
}

@media screen and (min-width: 768px) {
	a[rel="tag"],
	a[rel="tag"]:visited {
		margin-left: 0.8em;
	}
}
