<footer>
  <small>
    This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    View the repo on <a href="{{ pkg.repository.url }}">Github</a>.
  </small>
</footer>
