<footer>
  <small>
    Based on <a href="{{ pkg.repository.url }}">eleventy-netlify-boilerplate</a>, built with <a href="https://www.11ty.dev/">11ty</a> and hosted on <a href="https://www.netlify.com/">Netlify</a>.
  </small>
</footer>
