---
layout: layouts/base.njk
section: post
---

<h1>{{ title }}</h1>
<time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>

{% for tag in tags %}
  {%- if tag != "post" -%}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
  {%- endif -%}
{% endfor %}

{{ layoutContent | safe }}

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
